.sidebarline{
  border-right: 0.5px solid #dae3f3;
  height: 100%;
  width: 220px;
  //padding-left: 10px;
  background-color: #dae3f3;
}
.themebackground{
  background-color: white;
}
.tablehead{
  background-color: primary;
}
h6{
  margin-bottom: 1.5rem;
}

ul{
  list-style-type: none;
}

.caret{
  padding-left: 20px;
}