.Header_Text {
    color: rgb(0 51 102);
}

.dropdown-width {
    width: 100%;
}

.mainbody {
    background-color: white;
}

h3 {
    margin-bottom: -1.5rem;
}


.sticky-thc {

    position: sticky!important; 
    top: 0px!important;
    
  }
  