// get color names from here https://chir.ag/projects/name-that-color/#6195ED

// colors

$primary_white: #ffffff;
$primary_black: #000000;
$primary_blue: #263238;
$primary_grey: #EDEDED;
$white_shadow: #ffffff90;
$grey_input: #A8ADAF;
$secondary_grey: #D4D6D7;
$font_grey: #677074;
$paper-white: #eeeeff;

$bg_light_grey: #FBFBFB;
$bg_black_shadow: #00000020;

// font family names
$monstserrat_black: "Monstserrat Black";
$monstserrat_bold: "Montserrat Bold";
$monstserrat_extrabold: "Montserrat ExtraBold";
$monstserrat_italic: "Montserrat Italic";
$monstserrat_light: "Montserrat Light";
$monstserrat_medium: "Montserrat Medium";
$monstserrat_regular: "Montserrat Regular";
$monstserrat_semibold: "Montserrat SemiBold";
$monstserrat_thin: "Montserrat Thin";

// font family path
$monstserrat_black_file: "/assets/fonts/Montserrat-Black.ttf";
$monstserrat_bold_file: "/assets/fonts/Montserrat-Bold.ttf";
$monstserrat_extrabold_file: "/assets/fonts/Montserrat-ExtraBold.ttf";
$monstserrat_italic_file: "/assets/fonts/Montserrat-Italic.ttf";
$monstserrat_light_file: "/assets/fonts/Montserrat-Light.ttf";
$monstserrat_medium_file: "/assets/fonts/Montserrat-Medium.ttf";
$monstserrat_regular_file: "/assets/fonts/Montserrat-Regular.ttf";
$monstserrat_semibold_file: "/assets/fonts/Montserrat-SemiBold.ttf";
$monstserrat_thin_file: "/assets/fonts/Montserrat-Thin.ttf";

//Font-siz2
$font_top1: 20vw;
$font_top2: 16vw;
$font_top3: 14vw;
$font_top4: 12vw;
$font_top5: 10vw;
$font_top6: 8vw;
$font_top7: 6vw;
$font_top8: 5vw;
$font_top9: 4vw;
$font_top10: 3vw;
$font_xxlarge: 2.4vw;
$font_xlarge: 2vw;
$font_large: 1.8vw;
$font_regular: 1.6vw;
$font_button: 1.5vw;
$font_medium: 1.4vw;
$font_text: 1.3vw;
$font_small: 1.2vw;
$font_xxsmall: 1.1vw;
$font_xsmall: 1vw;
$font_verysmall: 0.9vw;
$font_xverysmall: 0.5vw;
