.Sidebar {
    height: 100%;
    margin-left: 7px;
}

.SidebarList {
    padding: 10px;
    list-style-type: none;
}

.SidebarList #active {
    font-weight: bolder;
    color: blue;
}

a {
    color: #000;
}