.mycardbody{
    width:15rem;
}

.mycardbody2{
    width:15rem;
}
.cardimage{
    height: 193px;
}
.cardimage2{
    height: 193px;
}

.cardtextbody{
    padding: 20px;
    margin-bottom: 20px;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
    //width: 36vw;
}

.ccard {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1) !important;
}

.primarytool {
    width: 500px;
}

.cabstatus{
    padding-left: 10px!important;
    margin-top : 5px!important;
    margin-bottom: 5px!important;
}

.counter{
    padding-right: 10px!important;
    margin-top : 5px!important;
    margin-bottom: 5px!important;
}